@import 'tailwindcss';

@layer base {
  html,
  body {
    @apply m-0 p-0 box-border;
    @apply min-h-dvh w-full;
  }
}

/* Chrome, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
